div(class=' footer')
	div(class='ed-grid s-grid-1 row-gap footer__upperFooterContainer')
		-for(i = 0; i < upperFooter.length; i++)
			img(class="footer__upperFooter" src=`${upperFooter[i].img}`, alt="icon") 

	div(class='ed-grid m-grid-3 lg-grid-6 row-gap')
			-for(i = 0; i < footer_Elements.length; i++)
				ul(class="s-cols-1 footer__titulo")= footer_Elements[i].tittle
					-for(j = 0; j < footer_Elements[i].hijos.length; j++)
						-if(footer_Elements[i].hijos[j].icon)
							li(class='footer__li')
								img(class=`${footer_Elements[i].hijos[j].nameClass}` src=`${footer_Elements[i].hijos[j].icon}`, alt="icon") 
								a(class="footer__li" href=`${footer_Elements[i].hijos[j].link}`)= footer_Elements[i].hijos[j].name
						-else 	
							a(class="footer__li" href=`${footer_Elements[i].hijos[j].link}`)= footer_Elements[i].hijos[j].name
